# .github/workflows/deploy.yml
name: Deploy Frontend

on:
  push:
    branches:
      - main

permissions:
  contents: write
  
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Inject Supabase Secrets
        run: |
          echo "const SUPABASE_URL = \"${{ secrets.SUPABASE_URL }}\";" >> config.js
          echo "const SUPABASE_ANON_KEY = \"${{ secrets.SUPABASE_ANON_KEY }}\";" >> config.js
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_ANON_KEY: ${{ secrets.SUPABASE_ANON_KEY }}

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./ # Direktori root proyek Anda